@import url(normalize.css);

/* <weight>: Use a value from 200 to 900
   <uniquifier>: Use a unique and descriptive class name
  */

/* .source-code-pro-bold {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
} */

:root {
  --background-dark: #020314;

  --accent-purple: #6917d0;
  --accent-light-purple: #8632e6;
  --accent-blue: #2d00f7;
  
  --accent-pink: #ff1791;
  --accent-teal: #17ffee;
  --accent-dark-teal: #1dd3b0;

  --danger: #f55;
  --success: #17ffee;
  --warning: #f55;
  --error: #f55;

  --page-border-color: var(--accent-purple);
  --page-title-color: var(--accent-teal);
  --form-label-color: var(--accent-dark-teal);
  --form-input-text-color: var(--accent-teal);
  --form-border-color:var(--accent-light-purple);
  --header-footer-text-color: var(--accent-pink);

  --loader-color: var(--accent-teal);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--background-dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--accent-teal);
  overscroll-behavior: none;
  color: #1dd3b0;
}

header {
  border-bottom: 1px solid var(--page-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--header-footer-text-color);
}

.nav {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--header-footer-text-color);
}

.fa-sign-out-alt {
  font-size: 18px
}

.mainContainer {
  flex-grow: 1;
  display: flex;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .main,
  .sidebar {
    width: 50%;
  }

  .sidebar {
    display: block;
    background: url(/static/images/bakhodirjon-abduraimov-0i_VuYCFais-unsplash.jpg);
    background-size: cover;
    position: relative;
    border-left: 1px solid var(--page-border-color);
  }

  .sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}

.flashMessage {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid var(--page-border-color);
}
.flashMessage.danger {
  color: var(--danger);
}
.flashMessage.success {
  color: var(--success);
}
.flashMessage.warning {
  color: var(--warning);
}
.flashMessage.error {
  color: var(--error);
}

.mainContentContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  width: min(600px, 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

@media screen and (min-width: 767px) {
  .mainContent {
    padding: 2rem;
  }
  
}

footer {
  text-align: center;
  border-top: 1px solid var(--page-border-color);
  padding: 1rem;
}

.pageTitle {
  font-size: 32px;
  font-weight: 500;
  margin-top: 0;
  color: #17ffee; 
}

.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}


form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formItem label {
  display: block;
  margin-bottom: .5rem;
  color: var(--form-label-color);
}

.formError {
  display: block;
  margin-top: .5rem;
  font-size: .85rem;
  color: var(--error);
}

input,
button {
  width: 100%;
  background: transparent;
  border: 1px solid var(--accent-light-purple);
  color: var(--form-input-text-color);
}

input {
  padding: .75rem;
}

button {
  padding: 0.75rem 1.5rem;
}

.todoForm {
  margin-bottom: 2rem;
}

.todoList {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--form-border-color);
  border-bottom: none;
  margin-bottom: 36px;
}

.todo {
  border-bottom: 1px solid var(--form-border-color);
  color: var(--form-input-text-color);
}

.todo > td {
  padding: 1rem;
}

/* Customize input div (the container) */
.completedInputContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.completedInputContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox {
  display: block;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid var(--form-border-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.completedInputContainer input:checked ~ .checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.completedInputContainer .checkbox:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--form-input-text-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todo__text {
  display: block;
  text-decoration: none;
  font-size: .85rem;
}
.todo__text.complete {
  text-decoration: line-through;
}

.todo__editTodoInput {
  padding: .40rem;
  font-size: .85rem;
}

.todo__dateAdded {
  display: block;
  font-size: .65rem;
}

.todo > td:last-child {
  text-align: right;
}

.deleteBtnContainer {
  width: 20px;
  height: 22px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.todo__deleteBtn {
  padding: .25rem;
  cursor: pointer;
}

.profileEditForm,
.profileDeleteFOrm {
  width: 100%;
}

.profile_delete-warning {
  color: var(--danger);
}

.credit {
  color: var(--header-footer-text-color);
  text-decoration: none;
  font-size: .75rem;
}

.hidden {
  display: none;
}

.loader {
  display: inline-block;
  font-size: 3px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em var(--loader-color), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2), 2.5em 0em 0 0em rgba(23, 255, 238, 0.2), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.2), 0em 2.5em 0 0em rgba(23, 255, 238, 0.2), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.2), -2.6em 0em 0 0em rgba(23, 255, 238, 0.5), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.7), 1.8em -1.8em 0 0em var(--loader-color), 2.5em 0em 0 0em rgba(23, 255, 238, 0.2), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.2), 0em 2.5em 0 0em rgba(23, 255, 238, 0.2), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.2), -2.6em 0em 0 0em rgba(23, 255, 238, 0.2), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.5), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.7), 2.5em 0em 0 0em var(--loader-color), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.2), 0em 2.5em 0 0em rgba(23, 255, 238, 0.2), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.2), -2.6em 0em 0 0em rgba(23, 255, 238, 0.2), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.2), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.5), 2.5em 0em 0 0em rgba(23, 255, 238, 0.7), 1.75em 1.75em 0 0em var(--loader-color), 0em 2.5em 0 0em rgba(23, 255, 238, 0.2), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.2), -2.6em 0em 0 0em rgba(23, 255, 238, 0.2), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.2), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2), 2.5em 0em 0 0em rgba(23, 255, 238, 0.5), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.7), 0em 2.5em 0 0em var(--loader-color), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.2), -2.6em 0em 0 0em rgba(23, 255, 238, 0.2), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.2), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2), 2.5em 0em 0 0em rgba(23, 255, 238, 0.2), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.5), 0em 2.5em 0 0em rgba(23, 255, 238, 0.7), -1.8em 1.8em 0 0em var(--loader-color), -2.6em 0em 0 0em rgba(23, 255, 238, 0.2), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.2), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2), 2.5em 0em 0 0em rgba(23, 255, 238, 0.2), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.2), 0em 2.5em 0 0em rgba(23, 255, 238, 0.5), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.7), -2.6em 0em 0 0em var(--loader-color), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.2), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2), 2.5em 0em 0 0em rgba(23, 255, 238, 0.2), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.2), 0em 2.5em 0 0em rgba(23, 255, 238, 0.2), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.5), -2.6em 0em 0 0em rgba(23, 255, 238, 0.7), -1.8em -1.8em 0 0em var(--loader-color);
  }
}