@import url(normalize.css);

@font-face { 
  font-family: "CyberPunk";
  font-style: normal;
  font-weight: 400;
  src: 
    url(/static/fonts/Ryzes-ax92x.woff2) format("woff2"),
}

/* <weight>: Use a value from 200 to 900
   <uniquifier>: Use a unique and descriptive class name
  */

/* .source-code-pro-bold {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
} */

:root {
  --background-dark: #020314;
  --background-dark-transparent: rgba(2, 3, 20, .65);

  --accent-purple: #6917d0;
  --accent-light-purple: #8632e6;
  --accent-blue: #2d00f7;
  
  --accent-pink: #ff1791;
  --accent-teal: #17ffee;
  --accent-dark-teal: #1dd3b0;

  --danger: #f55;
  --success: #17ffee;
  --warning: #f55;
  --error: #f55;

  --page-border-color: var(--accent-purple);
  --page-title-color: var(--accent-teal);
  --form-label-color: var(--accent-dark-teal);
  --form-input-text-color: var(--accent-teal);
  --form-border-color:var(--accent-light-purple);
  --header-footer-text-color: var(--accent-pink);

  --loader-color: var(--accent-teal);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--background-dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--accent-teal);
  color: #1dd3b0;
}

header {
  border-bottom: 1px solid var(--page-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.logo {
  margin: 0;
  font-size: 1rem;
  font-weight: 900;
  color: var(--header-footer-text-color);
}

.nav {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--header-footer-text-color);
  padding: 0;
  border: none;
  cursor: pointer;
}

.fa-sign-out-alt {
  font-size: 20px
}

.mainContainer {
  flex-grow: 1;
  display: flex;
  width: 100%;
}

.main {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.main .logoLarge {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  font-family: "CyberPunk";
  font-size: clamp(50px, 15vw, 85px);
  text-align: center;
  transform: translateY(10%) scale(1.1);
  opacity: 25%;
}

.mainInnerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.sidebar {
  display: none;
  background: url(/static/images/valentin-beauvais-yVUQlyRlJSw-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  border-left: 1px solid var(--page-border-color);
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: block;
  }
  .main {
    width: 65%;
  }
  .sidebar {
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .main,
  .sidebar {
    width: 50%;
  }
}

.flashMessage {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid var(--page-border-color);
}
.flashMessage.danger {
  color: var(--danger);
}
.flashMessage.success {
  color: var(--success);
}
.flashMessage.warning {
  color: var(--warning);
}
.flashMessage.error {
  color: var(--error);
}

.mainContentContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  width: min(600px, 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.25rem;
}

@media screen and (min-width: 767px) {
  .mainContent {
    padding: 2rem;
  }
  
}

footer {
  text-align: center;
  border-top: 1px solid var(--page-border-color);
  padding: 1rem;
}

.pageTitle {
  margin-top: 0;
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #17ffee;
}

#todo-list-title {
  cursor: pointer;
}

.cyberpunk {
  font-family: 'CyberPunk';
}

.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.formItem label {
  display: block;
  margin-bottom: .5rem;
  color: var(--form-label-color);
}

.formError {
  display: block;
  margin-top: .5rem;
  font-size: .85rem;
  color: var(--error);
}

input,
button {
  width: 100%;
  background: transparent;
  border: 1px solid var(--accent-light-purple);
  color: var(--form-input-text-color);
  background-color: var(--background-dark-transparent);
}

input {
  padding: .75rem;
}

input:focus {
  outline: 1px solid var(--accent-teal);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--accent-dark-teal);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: var(--accent-dark-teal);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: var(--accent-dark-teal);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--accent-dark-teal);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--accent-dark-teal);
}

::placeholder { /* Most modern browsers support this now. */
   color: var(--accent-dark-teal);
}

button {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.todoForm {
  margin-bottom: 2rem;
}

.todoList {
  width: 100%;
  border-bottom: none;
  margin-bottom: 36px;
}

.todo {
  border: 1px solid var(--form-border-color);
  color: var(--form-input-text-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* containers for the checkbox and text, and date and trash can */
.todo > div {
  display: flex;
  align-items: center;
  gap: .85rem;
}

/* Customize input div (the container) */
.completedInputContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.completedInputContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox {
  display: block;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid var(--form-border-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.completedInputContainer > input:checked ~ .checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.completedInputContainer .checkbox:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--form-input-text-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todo__text, .todo__editTodoInput {
  padding: .40rem;
  font-size: .85rem;
  border: 1px solid;
  margin: 0;
}

.todo__text {
  display: inline-block;
  text-decoration: none;
  border-color: transparent;
  cursor: pointer;
}

.todo__editTodoInput {
  border-color: var(--form-border-color);
}

.todo__text[hidden] {
  display: none;
}

.completedInputContainer:has(input:checked) + div > .todo__text {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo__dateAdded {
  font-size: .65rem;
}

.deleteBtnContainer {
  display: flex; 
  align-items: center;
}

.todo__deleteBtn {
  padding: .25rem;
  cursor: pointer;
}

.profileEditForm,
.profileDeleteFOrm {
  width: 100%;
}

.profileEditForm {
  margin-bottom: 2rem;
}

.profile_delete-warning {
  color: var(--danger);
}

.credit {
  color: var(--header-footer-text-color);
  text-decoration: none;
  font-size: .75rem;
}

.loader {
  display: inline-block;
  font-size: 3px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em var(--loader-color), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2), 2.5em 0em 0 0em rgba(23, 255, 238, 0.2), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.2), 0em 2.5em 0 0em rgba(23, 255, 238, 0.2), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.2), -2.6em 0em 0 0em rgba(23, 255, 238, 0.5), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.7), 1.8em -1.8em 0 0em var(--loader-color), 2.5em 0em 0 0em rgba(23, 255, 238, 0.2), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.2), 0em 2.5em 0 0em rgba(23, 255, 238, 0.2), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.2), -2.6em 0em 0 0em rgba(23, 255, 238, 0.2), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.5), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.7), 2.5em 0em 0 0em var(--loader-color), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.2), 0em 2.5em 0 0em rgba(23, 255, 238, 0.2), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.2), -2.6em 0em 0 0em rgba(23, 255, 238, 0.2), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.2), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.5), 2.5em 0em 0 0em rgba(23, 255, 238, 0.7), 1.75em 1.75em 0 0em var(--loader-color), 0em 2.5em 0 0em rgba(23, 255, 238, 0.2), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.2), -2.6em 0em 0 0em rgba(23, 255, 238, 0.2), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.2), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2), 2.5em 0em 0 0em rgba(23, 255, 238, 0.5), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.7), 0em 2.5em 0 0em var(--loader-color), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.2), -2.6em 0em 0 0em rgba(23, 255, 238, 0.2), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.2), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2), 2.5em 0em 0 0em rgba(23, 255, 238, 0.2), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.5), 0em 2.5em 0 0em rgba(23, 255, 238, 0.7), -1.8em 1.8em 0 0em var(--loader-color), -2.6em 0em 0 0em rgba(23, 255, 238, 0.2), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.2), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2), 2.5em 0em 0 0em rgba(23, 255, 238, 0.2), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.2), 0em 2.5em 0 0em rgba(23, 255, 238, 0.5), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.7), -2.6em 0em 0 0em var(--loader-color), -1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(23, 255, 238, 0.2), 1.8em -1.8em 0 0em rgba(23, 255, 238, 0.2), 2.5em 0em 0 0em rgba(23, 255, 238, 0.2), 1.75em 1.75em 0 0em rgba(23, 255, 238, 0.2), 0em 2.5em 0 0em rgba(23, 255, 238, 0.2), -1.8em 1.8em 0 0em rgba(23, 255, 238, 0.5), -2.6em 0em 0 0em rgba(23, 255, 238, 0.7), -1.8em -1.8em 0 0em var(--loader-color);
  }
}