<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>{% block pagetitle %}{% endblock %}</title>
  </head>
  <body>
    <div class="mainContainer">
      {% block header %}{% endblock %}
      <main>
        <section class="main">
          <div class="flashMessages">
            {% for category,msg in get_flashed_messages(with_categories=true) %}
            <span class="flash {{ category }}">{{ msg }}</span>
            {% endfor %}
          </div>
          <div class="mainContent">{% block pagecontent %}{% endblock %}</div>
        </section>
      </main>
      <footer>
        <a class="credit" href="https://www.whoisjaytee.com" target="_blank"
          >WhoIsJaytee.com</a
        >
      </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
