<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/index.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

    <title>My Todo List | {% block pagetitle %}{% endblock %}</title>
  </head>
  <body>
      <header>
        <h1 class="logo">TodoList</h1>
        <nav>
          <ul class="nav">
            {% if g.user %}
              <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </header>
      
      <main class='mainContainer'>
        <section class="main">
          <div class="flashMessages">
            {% for category,msg in get_flashed_messages(with_categories=true) %}
              <span class="flashMessage {{ category }}">{{ msg }}</span>
            {% endfor %}
          </div>
          <div class="mainContentContainer">
            <div class='mainContent'>
              {% block pagecontent %}{% endblock %}
            </div>
          </div>
        </section>

        <section class="sidebar">

        </section>
      </main>

      <footer>
        <a class="credit" href="https://www.whoisjaytee.com" target="_blank"
          >WhoIsJaytee.com</a
        >
      </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
