{% extends 'base.html' %}

{% block pagetitle %}Welcome{% endblock %}

{% block pagecontent %}
  <h2 class='pageTitle'>Welcome</h2>
  <form id="login-form" class="loginForm" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}

    <div class='formItem'>
      {{ field.label }}
      {{ field }}
      {% for error in field.errors %}
        <div>
          <span class="error">{{ error}}</span>
        </div>
      {% endfor %}
    </div>

    {% endfor %}
    <button type="submit">Login</button>
  </form>
{% endblock %}
