{% extends 'base.html' %} {% block pagetitle %}My Todo List{% endblock %} {%
block header %}{% if g.user %}
<header>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>
{% endif %}{% endblock %} {% block pagecontent %} {% if g.user %}

<h1 class="appTitle">Todo List</h1>
<form id="todo-form" method="POST">
  {{ todo_form.hidden_tag() }} {% for field in todo_form if
  field.widget.input_type != 'hidden' %}

  <div>
    {{ field }} {% for error in field.errors %}
    <div>
      <span class="error">{{ error}}</span>
    </div>
    {% endfor %}
  </div>

  {% endfor %}
  <button type="submit">Add Todo</button>
</form>

<!-- todo list table -->
{% if todos %}
<table id="todoList">
  <tbody>
    {% for todo in todos %}
    <tr id="{{ todo.id }}" class="todo">
      <td>
        {% if todo.done %}
        <input
          type="checkbox"
          class="todo__doneBtn"
          data-id="{{ todo.id }}"
          checked
        />
        {% else %}
        <input type="checkbox" class="todo__doneBox" data-id="{{ todo.id }}" />
        {% endif %}
      </td>
      <td class="todo__text">{{ todo.todo }}</td>
      <!-- <td>
        <button class="todo__editBtn" data-id="{{ todo.id }}">Edit</button>
      </td> -->
      <td>
        <button class="todo__deleteBtn" data-id="{{ todo.id }}">X</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% else %}

<form id="login-form" class="loginForm" method="POST">
  {{ login_form.hidden_tag() }} {% for field in login_form if
  field.widget.input_type != 'hidden' %}

  <div>
    {{ field }} {% for error in field.errors %}
    <div>
      <span class="error">{{ error}}</span>
    </div>
    {% endfor %}
  </div>

  {% endfor %}
  <button type="submit">Login</button>
</form>
{% endif %} {% endblock %}
