{% extends 'base.html' %}

{% block pagetitle %}Signup{% endblock %}

{% block pagecontent %}
  <h2 class='pageTitle'>Create an Account</h2>
  <form id="todo-list-signup-form" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}

    <div class='formItem'>
      {{ field.label }}
      {{ field }}
      {% for error in field.errors %}
          <span class="formError">{{ error}}</span>
      {% endfor %}
    </div>

    {% endfor %}
    <button type="submit">Signup</button>
  </form>
{% endblock %}
