{% extends 'base.html' %}

{% block pagetitle %}My Todos{% endblock %}

{% block pagecontent %}
  <h2 class='pageTitle'>Get Shit Done</h2>
  <form id="todoForm" class="todoForm" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}

    <div class='formItem'>
      {{ field }}
      {% for error in field.errors %}
        <div>
          <span class="error">{{ error}}</span>
        </div>
      {% endfor %}
    </div>

    {% endfor %}
    <button type="submit">Add Todo</button>
  </form>

  {% if todos %}
    <table id="todoList" class='todoList'>
      <tbody>
        {% for todo in todos %}
        <tr id="{{ todo.id }}" class="todo">
          <td>
            <label class='completedInputContainer'>
              <input name="complete" type="checkbox" class="todo__doneBtn" data-id="{{ todo.id }}" {% if todo.complete %}checked{% endif %} />
              <span class="checkbox"></span>
            </label>
          </td>

          <td>
            <span class="todo__text{% if todo.complete %} complete{% endif %}" data-id="{{ todo.id }}">{{ todo.todo }}</span>
            <input type="text" class="todo__editTodoInput hidden" name="editedTodo" data-id="{{ todo.id }}"/>
          </td>

          <td><span class="todo__dateAdded">{{ todo.date_added }}</span></td>

          <td><span class="todo__deleteBtn" data-id="{{ todo.id }}">X</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
